<!-- <div class=" container">
            <ul class="nav nav-text" role="tablist">
                <li>    
                <div class="image-icons">
                        <i class="pe-7s-album"></i>
                    </div>
                </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-arc"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-back-2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-bandaid"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-car"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-diamond"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-door-lock"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-eyedropper"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-female"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-gym"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-hammer"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-headphones"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-helm"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-hourglass"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-leaf"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-magic-wand"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-male"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-map-2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-next-2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-paint-bucket"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-pendrive"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-photo"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-piggy"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-plugin"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-refresh-2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-rocket"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-settings"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-shield"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-smile"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-usb"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-vector"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-wine"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-cloud-upload"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-cash"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-close"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-bluetooth"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-cloud-download"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-way"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-close-circle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-id"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-up"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-wristwatch"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-up-circle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-world"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-right"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-volume"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-right-circle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-users"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-left"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-user-female"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-left-circle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-up-arrow"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-down"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-switch"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-angle-down-circle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-scissors"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-wallet"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-safe"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-volume2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-volume1"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-voicemail"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-video"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-user"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-upload"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-unlock"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-umbrella"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-trash"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-tools"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-timer"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-ticket"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-target"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-sun"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-study"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-stopwatch"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-star"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-speaker"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-signal"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-shuffle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-shopbag"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-share"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-server"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-search"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-film"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-science"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-disk"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-ribbon"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-repeat"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-refresh"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-add-user"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-refresh-cloud"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-paperclip"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-radio"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-note2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-print"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-network"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-prev"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-mute"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-power"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-medal"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-portfolio"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-like2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-plus"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-left-arrow"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-play"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-key"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-plane"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-joy"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-photo-gallery"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-pin"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-phone"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-plug"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-pen"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-right-arrow"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-paper-plane"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-delete-user"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-paint"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-bottom-arrow"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-notebook"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-note"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-next"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-news-paper"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-musiclist"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-music"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-mouse"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-more"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-moon"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-monitor"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-micro"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-menu"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-map"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-map-marker"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-mail"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-mail-open"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-mail-open-file"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-magnet"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-loop"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-look"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-lock"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-lintern"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-link"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-like"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-light"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-less"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-keypad"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-junk"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-info"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-home"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-help2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-help1"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-graph3"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-graph2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-graph"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-global"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-gleam"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-glasses"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-gift"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-folder"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-flag"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-filter"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-file"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-expand1"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-exapnd2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-edit"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-drop"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-drawer"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-download"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-display2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-display1"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-diskette"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-date"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-cup"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-culture"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-crop"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-credit"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-copy-file"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-config"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-compass"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-comment"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-coffee"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-cloud"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-clock"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-check"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-chat"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-cart"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-camera"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-call"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-calculator"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-browser"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-box2"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-box1"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-bookmarks"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-bicycle"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-bell"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-battery"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-ball"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-back"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-attention"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-anchor"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-albums"></i>
                    </div>
                    </li>
                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-alarm"></i>
                    </div>
                    </li>

                    <li>
                    <div class="image-icons">
                        <i class="pe-7s-airplay"></i>
                    </div>
                    </li>
            </ul>
        </div> -->